server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: books
          uri: lb://ms-books-catalogue
          predicates:
            - Path=/api/books,/api/books/**

        - id: payments
          uri: lb://ms-books-payments
          predicates:
            - Path=/api/payments,/api/payments/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cloud.gateway: INFO
