server:
  port: 8082

spring:
  application:
    name: ms-books-catalogue

  datasource:
    url: jdbc:postgresql://localhost:5433/db_libros
    username: postgres
    password: "Yandry/*."

  jpa:
    hibernate:
      ddl-auto: none   
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false         

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
