server:
  port: ${PORT:8080}

spring:
  application:
    name: ms-books-catalogue

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}

management:
  endpoints:
    web:
      exposure:
        include: health,info